html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.profileRow {
    display: flex;
    text-align: center;
    justify-content: center;
}

.profileContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1000px;
}

.profilePic {
    max-height: 300px;
    border-radius: 33%;
    margin: 1em;
}

.descProfile {
    font-size: 20px;
    margin: 1em;
    padding: 1em;
}

.projectsTitle {
    height: 200px;
    margin: 2em 5% 1em 5%;
    display: flex;
    align-items: center;
}

.projectBG {
    min-width: 100vmax;
    object-fit: cover;
    object-position: -12em 12em;
}

.projectTitleBox {
    background-color: white;
    height: 75px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.projectTitle {
    font-size: 50px;
}

.projectOutline {
    border: solid 1px black;
    display: flex;
    align-items: center;
    text-align: center;
}

.titleProject {
    font-size: 25px;
    text-align: center;
    margin-top: 5%;
}

.imageProject {
    max-height: 30vmax;
    padding: 3%;
}

.descProject {
    margin: 2em;
}

.linkProject {
    margin-bottom: 2em;
}

@media screen and (max-width: 768px) {
    .projectBG {
        object-position: -22em 19em;
    }

    .projectTitleBox {
        margin: 7%;
    }

    .imageProject {
        margin-bottom: 5%;
    }
}